{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class ="titles-box" >
            <h1 class = "titles-top">Leilão</h1>
            <h3 class = "titles-bottom"></h3>
        </div>
    </div>
    <div id="leilaoLive" class="container" rel="{{ url('leilaoLive') }}">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active grey-text" href="#open">Abertos</a></li>
                    <li class="tab col s3"><a class="grey-text" href="#next">Proxímos</a></li>
                    <li class="tab col s3"><a class="grey-text" href="#close">Encerrados</a></li>
                </ul>
            </div>

            <div id="open" class="col s12 ">
                <!--Leilões Abertos -->
                <div class="row">

                    <div class="col s12 m6">
                        <div class="input-field col s12">
                            <select>
                                <option value="" disabled selected>Selecione a cidade de origem</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Origem</label>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="input-field col s12">
                            <select>
                                <option value="" disabled selected>Selecione a cidade de destino</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Destino</label>
                        </div>
                    </div>

                </div>

                {% for passagem in leiloesAbertos %}

                <div class="row" id="leilao{{ passagem.leilao.id }}">
                    <div class="col l4 s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="materialboxed">
                                    <img width="250" src="{{ asset('uploads/imagens/' ~ passagem.imagem) }}">
                                    <figcaption>{{ passagem.titulo }}</figcaption>
                                </div>
                            </div>
                            <div class="card-content grey-text">
                                <p class="col s12 m12 grey-text"> Ida e Volta</p>
                                <i class="fa fa-facebook-square fa-2x"></i>
                                <i class="fa fa-google-plus-square fa-2x "></i>
                                <i class="fa fa-twitter-square fa-2x "></i>
                                <i class="fa fa-instagram fa-2x "></i>
                                <button class="btn-floating waves-effect waves-light grey right" type="submit" ><i class="material-icons left">grade</i>Acompanhe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12 m6">
                        <div class="card small">
                            <div class="row">
                                <div class="col s8">
                                    <span class="grey-text"> De R$ {{ passagem.valor }} </span>
                                    <br>
                                    <span class="leilao-home-txt-1 green-text"> Por R$ <span class="valorAtual">{{ passagem.leilao.getValorAtual }}</span> </span>
                                    <br>
                                    <span class="grey-text"> Economia de </span><span class="green-text">R$ <b class="valorEconomia">450,20 </b></span>
                                </div>
                                <div class="col s2">
                                    <p></p>
                                    <span class="discount-txt green-text"> <b class="desconto">68</b>%</span>
                                    <span class="leilao-home-txt-2 green-text center"> <b>DESCONTO </b></span>
                                </div>
                            </div>
                            <div class="col s12">
                                <ul class="collapsible">
                                    <li class="active">
                                        <div class="collapsible-header grey-text grey lighten-2 center">
                                            {% if passagem.leilao.usuario %}
                                                Usuário: <span class="usuarioAtual">{{ passagem.leilao.usuario.apelido|upper }}</span>
                                            {% else %}
                                                Dê seu lance agora!!
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header center">
                                            <p class="leilao-home-txt-1 timersLeilao" rel="{% if passagem.leilao.leilaoEstaAberto %}
                                                    {{ passagem.leilao.tempoleilao }}
                                                {% endif %}">
                                                {% if passagem.leilao.leilaoEstaAberto == false %}
                                                    Aproveite!
                                                {% else %}
                                                    00:00:00
                                                {% endif %}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="col s6 linhaLance">
                                    <span class="grey-text"> Dê seu lance </span>
                                </div>
                                <div class="col s6 linhaLance">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a href="{{ path('darLanceLeilaoBundle', {'leilaoId':passagem.leilao.id}) }}" class="waves-effect red btn darLance">Lance</a>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}" class="waves-effect red btn">Logar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12 m12">
                        <div class="card small">
                            <div class="col s12 grey lighten-2 center"><h5 class="grey-text">ÚLTIMOS LANCES</h5></div>
                            <div class="card-content grey-text lighten-2 center lancesLeilao">
                                {% for lance in passagem.leilao.getLancesByLimit(10) %}
                                <p>R$ {{ lance.valor }} - {{ lance.usuario.apelido|upper }}<p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="next" class="col s12">
                <!--Proxímos Leilões-->
                <div class="row">
                    {% for passagem in proximosLeiloes %}
                    <div class="col l4 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="materialboxed">
                                    <img width="250" src="{{ asset('uploads/imagens/' ~ passagem.imagem) }}">
                                    <figcaption>{{ passagem.titulo }}</figcaption>
                                </div>
                            </div>
                            <div class= "row">
                                <div class="col s12">
                                    <div class="box-cronometro-home grey lighten-2 center">
                                        <p class="leilao-home-txt-1">{{ passagem.leilao.datainicio|date("h:m") }}</p>
                                        <p class="leilao-home-txt-2">Previsão início: {{ passagem.leilao.datainicio|date("d/m/Y") }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content grey-text">
                                <i class="fa fa-facebook-square fa-2x"></i>
                                <i class="fa fa-google-plus-square fa-2x "></i>
                                <i class="fa fa-twitter-square fa-2x "></i>
                                <i class="fa fa-instagram fa-2x "></i>
                                <button class="btn-floating waves-effect waves-light grey right" type="submit" ><i class="material-icons left">grade</i>Acompanhe</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="close" class="col s12">
                <!--Leilões Encerrados-->
                <div class="row">
                    {% for passagem in fechadosLeiloes %}
                    <div class="col l4 s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="materialboxed">
                                    <img width="250" src="{{ asset('uploads/imagens/' ~ passagem.imagem) }}">
                                    <figcaption>{{ passagem.titulo }}</figcaption>
                                </div>
                            </div>
                            <div class= "row">
                                <div class="col s12">
                                    <div class="box-cronometro-home grey lighten-2 center">
                                        <p class="leilao-home-txt-1">{{ passagem.desconto }}% OFF</p>
                                        <p class="leilao-home-txt-2">Término: 18/02/16 - 15:00:37</p>
                                    </div>
                                </div>
                            </div>

                            <h5 class="red-text center"> <b> Por: R$ {{ passagem.leilao.getValorAtual }} </b></h5>
                            <h6 class="grey-text center">  {% if passagem.leilao.usuario %}
                                    {{ passagem.leilao.usuario.apelido|upper }}
                                {% endif %} </h6>
                            <h6 class="grey-text center"> Arrematado com {{
                                passagem.leilao.lances|length
                                }} lances</h6>

                            <div class="card-content grey-text">
                                <i class="fa fa-facebook-square fa-2x"></i>
                                <i class="fa fa-google-plus-square fa-2x "></i>
                                <i class="fa fa-twitter-square fa-2x "></i>
                                <i class="fa fa-instagram fa-2x "></i>
                                <button class="btn-floating waves-effect waves-light grey right" type="submit" ><i class="material-icons left">grade</i>Acompanhe</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/js/jquery-2.1.1.min.js'
    '@LeilaoBundle/Resources/js/timer.jquery.min.js'
    '@LeilaoBundle/Resources/js/leilao.js'
    '@AppBundle/Resources/js/materialize.js'
    '@AppBundle/Resources/js/init.js'
    '@AppBundle/Resources/js/jquery.formatter.min.js'
    '@AppBundle/Resources/js/swiper.min.js'
    '@AppBundle/Resources/js/confirmed.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
